[user]
	name = Sami Kerola
	email = kerolasa@iki.fi
	signingkey = FDE9B739

[format]
	headers = "Organization: CloudFlare\n"
	subjectprefix = PATCH
	suffix = .patch
	numbered = auto

[commit]
	gpgSign = true
#	template = ~/.gittemplate

[apply]
	whitespace = warn

[sendemail]
	smtpserver = /usr/bin/msmtp
	chainreplyto = false

[alias]
	co = checkout
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	weekly = !sh -c 'git checkout $(date +%Ywk%W)'
	tagtimes = for-each-ref --sort=taggerdate --format '%(refname)\t%(taggerdate)' refs/tags

[color]
	ui = true

[core]
	editor = joe
	whitespace = trailing-space,space-before-tab,indent-with-non-tab

[push]
	default = matching

[config]
	cleanup = whitespace

[remote-hg]
	hg-git-compat = true

[http]
	postBuffer = 524288000

[credential]
	helper = cache --timeout 3600
