[user]
	name = Sami Kerola
	email = kerolasa@iki.fi

[format]
	Organization = TomTom
	subjectprefix = PATCH
	suffix = .txt
	numbered = auto

[commit]
	template = ~/.gittemplate

[sendemail]
	smtpserver = /usr/bin/msmtp
	chainreplyto = false
	cc = kerolasa@iki.fi

[alias]
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	weekly = !sh -c 'git checkout $(date +%Ywk%W)'

[color]
	ui = true

[core]
	editor = joe
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
